TELEGRAM_TOKEN=1234567890:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_KEY_1=AIzaSyxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_KEY_2=AIzaSyxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_KEY_3=AIzaSyxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_KEY_1=gsk_xxxxxxxxxxxxxxxxxxxxx
GROQ_KEY_2=gsk_xxxxxxxxxxxxxxxxxxxxx
OWNER_ID=123456789
GROUP_IDS=-1001234567890,-1009876543210
PORT=8080
